*
    body
    {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 5px;
    }
    .container
    {
        background-color: rgb(205, 223, 238);
        padding: 60px 60px 60px 60px; 
      
        font-size: 20px;
        width: 100;
        margin-left: 2px;
    }
    
    
    

   
    
    